<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Anjosia Coffee</title>
</head>
<body>
    <form action="<%= url %>login/auth" method="POST" class="col-md-4 card">
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>Anjosia Coffee</h2>
            </div>
            <div class="search">
                <input type="text" id="search" placeholder="search here">
                <label for="search"> <i class="fas fa-search"></i></label>
            </div>
            <div class="user">
                <a href="<%= url %>/logout">
                <img src="img/user.png"></a>
            </div>
         </div>         
         <div class="sidebar">
            <ul>
                <li>
                    <a href="/home">
                       <i   class="fas fa-home"></i>
                       <div>Dashboard</div>
                    </a>
                </li>
                <div class="data">Data Master</div>          
                <li>
                    <a href="/user">
                       <i   class="fas fa-users"></i>
                       <div>User</div>
                    </a>
                </li>
                <li>
                    <a href="/produk">
                       <i   class="fas fa-folder"></i>
                       <div>Barang</div>
                    </a>
                </li>
                <div class="data">Transaksi</div>          
                <li>
                    <a href="/barang_masuk">
                       <i   class="fas fa-download"></i>
                       <div>Barang Masuk</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i   class="fas fa-upload"></i>
                       <div>Barang Keluar</div>
                    </a>
                </li>
                <div class="data">Laporan</div>          
                <li>
                    <a href="#">
                       <i   class="fas fa-print"></i>
                       <div>Cetak Laporan</div>
                    </a>
                </li>
            </ul>
         </div>         
         <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="card-name">Data Barang</div>
                        <div class="number">4</div>                        
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-folder"></i>
                    </div>                  
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-name">Data User</div>
                        <div class="number">4</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user"></i>
                    </div>                  
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-name">Stok Barang</div>
                        <div class="number">4</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-list"></i>
                    </div>                  
                </div>
            </div>
            <div class="charts">
                <div class="chart">
                    <h2>Grafik Penjualan Selama 12 bulan </h2>
                    <canvas id="lineChart"></canvas>
                </div>
                <div class="chart" id="doughnut-chart">
                    <h2>Barang</h2>
                    <canvas id="doughnut"></canvas>
                </div>
            </div>
         </div>   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1/dist/chart.umd.min.js"></script>
    <script src="chart1.js"></script>
    <script src="chart2.js"></script> 
</body>
</form>
</html>