<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body">
    <div class="input">
        <div id="form">
            <div class="font1">UPDATE DATA</div>
            <div class="jk">Jenis Kopi<br /></div>
            <select class="sjk" name="" id="">
                <option value="">--Pilih Jenis Kopi--</option>
                <option value="">Robusta</option>
                <option value="">Arabika</option>               
            </select><br />           
            <div class="k" >Nama Kopi<br /></div>
            <select class="sk" name="" id="">
                <option value="">--Pilih Kopi--</option>
                <option value="">Gold</option>
                <option value="">Khaga</option>
                <option value="">Platinum</option>
                <option value="">Pengharum Mobil</option>                
            </select><br />  
            <div class="h"> Harga<br /></div>
                <input  class="ih" type="text" name="" id="" /><br /><br />
            <div class="sb">Stok Barang<br /></div>
                <input class="isb" type="text" name="" id="" /><br /><br />

            <button class="btn-update"> Update </button>
            <button class="btn-batal">Batal</button>
        </div>        
    </div>    
</body>
</html>